.search {
  background-image: url("./images/search.png");
  background-position-x: 12px;
}
.continue {
  background: #fff;
  box-shadow: 0 0 10px 3px #ececec;
  border-radius: 8px;
}
.product_hovr {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  background-color: #333;
  transition: all 1.5s cubic-bezier(0, 0, 0.05, 1);
}
.my-image {
  background-image: url("./images/slider.png");
}
.browse_text {
  color: var(--font-color, #333);
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.lorem_text {
  color: var(--font-color-1, #666);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.content {
  background: rgba(255, 255, 255, 0)
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 20%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0.5) 75%,
      rgba(255, 255, 255, 1) 100%
    )
    repeat scroll 0 0;
  position: relative;
  margin-top: -400px;
  height: 400px;
  z-index: 9;
}
.bed_img {
  border-radius: 10px;
  z-index: 10;
}
.prod_1 {
  color: var(--color-gray-3, #898989);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}
.prod_2 {
  color: white;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}
.back {
  background-image: url("../src/images/back.jpg");
}
.bed_text {
  /* text-shadow: white 2px 5px; */
  color: var(--font-color, #333);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  text-align: center;

  font-weight: 600;
  line-height: normal;
}
.lorem_text {
  color: var(--font-color-1, #666);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav_items {
  color: white;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Asgad {
  color: #000;
  font-family: Montserrat;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.price {
  color: #9f9f9f;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.price1 {
  color: #9f9f9f;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.showMore1 {
  border-radius: 10px;
  border: 1px solid #000;
}
.showMore2 {
  border-radius: 10px;
  border: 1px solid #fff;
}
.sku {
  color: #9f9f9f;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sku1 {
  color: #9f9f9f;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.descrip {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.descrip1 {
  color: #9f9f9f;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.getin {
  color: #000;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
